html, body {
  margin: 0;
  padding: 0;
}

.hello-world {
  color: rebeccapurple;
}

svg {
  border: 1px solid red;
}

.instruction {
  margin: 1em;
}

.instructions {
  display: flex;
  flex-direction: column;
}

.instruction-parts {
  display: flex;
}

.instructions-container {
  display: flex;
}

.instruction-character {
  width: 1.5em;
}
